<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mylibrary">

    <application>
        <activity
            android:name=".MiralActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.MyLibutil.NoActionBar" />
    </application>

</manifest>